@import "../../../styles/themeStyles.module.scss";

.wrapper{   
    margin-bottom: calc(80px + (250 - 80) * ((100vw - 1200px) / (3840 - 1200)));

    .btn, .btnMedium{
        display: block;
        width: 100%;
        @include font-level-2; 
        font-weight: 400;
        text-decoration: none;
        color: $deep-blue;
        padding:
        calc(24px + (84 - 24) * ((100vw - 1200px) / (3840 - 1200))) 0 ;
        border-bottom: solid $line-1 $gray-5;
        &:first-of-type{
            border-top: solid $line-1 $gray-5;
        }

        span{
            display: block;
            @include container-width-1; 
            max-width: 0 auto;
        }

        &:hover{
            background-color: $yellow-2;
        }
    }

    .btnMedium{
        @include font-level-3;
        span{
            display: inline;
        }
    }
}