@import "../../../styles/themeStyles.module.scss";

.wrapper{
    background-color: #F0F0F0;
    color:$deep-blue;
    font-weight: 400;
    margin-bottom: 8%;
    padding: 10%;
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 0.1s;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: block;
    text-decoration: none;

    .lead, p, li, 
    .category, p, li{
        @include font-level-4;
    }

    .lead{
        border-bottom: 3px solid $yellow-1;
        margin-bottom: 8%;
        display: inline-block;
    }

    .info{
        margin-bottom: 8%;   

        .category{
            display: inline-block;
            margin-bottom: 0;
            color: $green-1;
        }

        .date{
            color: #032E594D;
        }
    }
    .titles{
        margin-bottom: 8%;

        h4, h5{
            @include font-level-1;
            font-weight: 400;
            display: inline;
        }

        h5{
            color: #032E594D;
        }    
    }
    p{
        margin-bottom: 8%;       

    }

    .hashtags{
        border-top: 1px solid #032E5932;
        padding: 5% 0;

        ul{
            padding: 0;
            list-style: none;

            li{
                display: inline-block;
                margin-right: 5%;
                color: $green-1;
            }

        }

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.card{
    @include basic-card-1;

    p{
        margin-bottom: calc(20px + (40 - 20) * ((100vw - 1200px) / (3840 - 1200)));
    }

    h4{
        @include font-level-2; 
        font-weight: 400;
        line-height: 130%;
        margin-bottom: calc(50px + (150 - 50) * ((100vw - 1200px) / (3840 - 1200)));
    }
}

.wrapper, .card{
    &.height{
        overflow: hidden;
        height: 484px;
    }
}

.imgTop{
    margin-bottom: 6%;
}