@import "../../../styles/themeStyles.module.scss";

.card{
    @include basic-card-2;
    width: 100%;
    margin:
    0
    0
    calc(48px + (142 - 48) * ((100vw - 1200px) / (3840 - 1200)))
    0;
    padding-bottom: calc(15px + (30 - 15) * ((100vw - 1200px) / (3840 - 1200)));
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 0.1s;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    @media screen and (max-width: 1024px){
        margin-bottom: calc(35px + (105 - 35) * ((100vw - 300px) / (1024 - 300)));
    }

    h5{        
        span{
            @include font-level-2;
            font-weight: 400;
            line-height: 130%;
            color: $gray-2;
            border-bottom: none;
            margin-bottom: 0;
        }
    }

    .hashtags{
        width: 100%;
        list-style: none;
        border-top: $line-1 solid #032E5932;
        padding:
        calc(10px + (25 - 10) * ((100vw - 1200px) / (3840 - 1200)))
        0
        0
        0;
        li{
            display: inline-block;
            @include font-level-4;
            margin-right: calc(18px + (42 - 18) * ((100vw - 1200px) / (3840 - 1200)));
            color: $green-1;
        }
    }

    &.new{
        h5{
            margin-bottom: calc(18px + (44 - 18) * ((100vw - 1200px) / (3840 - 1200)));
        }
        p{
            margin-bottom: calc(14px + (64 - 14) * ((100vw - 1200px) / (3840 - 1200)));
            &.info{
                display: block;
                color: $green-1;
                margin-bottom: calc(28px + (90 - 28) * ((100vw - 1200px) / (3840 - 1200)));
                span{
                    color: $gray-2;
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
    }

    @media screen and (min-width: 1025px){
        &:active{
            filter: brightness(96%);        
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}