@import "../../styles/themeStyles.module.scss";

.pageBuilder
{
    div[data-id="highlighted_1"]{
        margin-bottom: calc(90px + (220 - 90) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            margin-bottom: calc(50px + (150 - 50) * ((100vw - 300px) / (1024 - 300)));
        }
    } 

    div[data-id="skillbox_1"]{
        margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            margin-bottom: calc(65px + (165 - 65) * ((100vw - 300px) / (1024 - 300)));
        }
    }

    div[data-id="marquee_1"], div[data-id="marquee_2"], div[data-id="marquee_3"]{
        margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            margin-bottom: calc(35px + (115 - 35) * ((100vw - 300px) / (1024 - 300)));
        }
    }

    div[data-id="accordion_1"]{
        margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            margin-bottom: calc(65px + (185 - 65) * ((100vw - 300px) / (1024 - 300)));
        }
    }

    div[data-id="highlighted_2"]{
        @include container-width-1;
        margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            margin-bottom: calc(35px + (120 - 35) * ((100vw - 300px) / (1024 - 300)));
        }
    }    

    .carrousel_projects{
        margin-bottom: calc(60px + (160 - 60) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            margin-bottom: calc(35px + (115 - 35) * ((100vw - 300px) / (1024 - 300)));
        }
        .card{
            @include basic-card-2; 
            @media screen and (max-width: 1024px){
                width: calc(255px + (880 - 255) * ((100vw - 300px) / (1024 - 300)));
            }
        }
    }   
}