@import "../../styles/themeStyles.module.scss";

.highlight_paragraph{
    @include container-width-1;
    margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
}

.marquee_1{
    margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
}

.keys_box{
    margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
}

.themes_accordion{
    margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
}

 .carrousel_projects{
    margin-bottom: calc(60px + (160 - 60) * ((100vw - 1200px) / (3840 - 1200)));
    .card{
        @include basic-card-2; 
    }
} 