@import "../../../../styles/themeStyles.module.scss";

.overlay{
    background-color: rgba(255,255,255, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(15px);

    .wrapper{   
        display: flex;
        justify-content: right;
        padding: 
        calc(35px + (80 - 35) * ((100vw - 1200px) / (3840 - 1200)))
        calc(35px + (370 - 35) * ((100vw - 1200px) / (3840 - 1200)))
        0
        calc(35px + (370 - 35) * ((100vw - 1200px) / (3840 - 1200)))
        ;   
        @media screen and (max-width: 1024px){
            justify-content: normal;
            display: grid;
            grid-template-areas: 'close' 'btns';
            grid-template-columns: 100% 100%;
            padding: 
            calc(22px + (36 - 22) * ((100vw - 300px) / (1200 - 300)))
            calc(10px + (20 - 10) * ((100vw - 300px) / (1200 - 300)))
            0
            calc(10px + (20 - 10) * ((100vw - 300px) / (1200 - 300)))
            ;    
        } 

        .sections{
            grid-area: btns;
            a{
                @include btn-ver-mas;                
                background-color: $white;
                border-color: $green-2; 
                margin-right: calc(12px + (30 - 12) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    @include font-level-2;
                    display: table;
                    margin-left: auto;
                    margin-right: 0;
                    margin-bottom: calc(10px + (30 - 10) * ((100vw - 300px) / (1200 - 300)));
                }
                @media screen and (min-width: 1024px){
                    &:hover{
                        background-color: $green-2;
                        border-color: $green-2;
                        color: $deep-blue;
                    }
                }
            }
        } 
        
        .close_btn{
            grid-area: close;
            @media screen and (max-width: 1024px){                
                margin-bottom: calc(25px + (100 - 25) * ((100vw - 300px) / (1200 - 300)));
            }
            .menu_btn{                
                @include btn-ver-mas;
                background-color: $white;
                border-color: $green-2;  
                @media screen and (max-width: 1024px){
                    display: flex;
                    margin-left: auto;
                }
                @media screen and (min-width: 1024px){
                    &:hover{
                        background-color: $green-2;
                        border-color: $green-2;
                        color: $deep-blue;
                    }
                }      
            }
        }        
    }
}