@import "../../../../styles/themeStyles.module.scss";

.wrapper{
    background-color: rgba(255,255,255, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    a, .menu_btn{
        @include btn-ver-mas;
        background-color: $white;
    }
}