@import "../../../styles/themeStyles.module.scss";

.container{
    @include container-width-1; 
    height: calc(320px + (880 - 320) * ((100vw - 1200px) / (3840 - 1200)));
    display: grid;
    grid-template-areas: 'nombre-docente imagen-docente texto-docente';
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);               
    @media screen and (max-width: 1025px){ 
        grid-template-areas: 'imagen-docente' 'nombre-docente' 'texto-docente'; 
        grid-template-columns: 100% 100% 100%;   
        height: auto; 
    } 

    .cta_title{
        grid-area: nombre-docente;
        margin-top: calc(75px + (200 - 75) * ((100vw - 1200px) / (3840 - 1200))); 
        @media screen and (max-width: 1025px){  
            margin-bottom: calc(12px + (22 - 12) * ((100vw - 300px) / (1200 - 300)));
            width: 100%;
            overflow: hidden;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
        }  
        .wrapper{                     
            position: relative; 
            transition: all 0.6s ease;                    
            @media screen and (max-width: 1025px){ 
                display: inline-block;
                white-space: nowrap; 
                padding-bottom: 6px;                       
            }
   
                 
            button{
                background-color: transparent;
                outline: inherit;
                border: none;
                position: relative;
                font-size: calc(28px + (66 - 28) * ((100vw - 1200px) / (3840 - 1200)));
                font-weight: 400;
                line-height: 120%; 
                letter-spacing: -0.015em;
                color: rgba(3, 46, 89, 0.3);    
                margin: 0 0 calc(12px + (34 - 12) * ((100vw - 1200px) / (3840 - 1200))) 0;
                cursor: pointer;
                transition: all 0.3s ease;
                @media screen and (max-width: 1025px){  
                    font-size: calc(19px + (40 - 19) * ((100vw - 300px) / (1200 - 300)));
                    font-weight: 500;  
                    margin:
                    0
                    calc(10px + (30 - 10) * ((100vw - 300px) / (1200 - 300)));
                    ; 
                    padding:
                    0
                    calc(2px + (3 - 2) * ((100vw - 300px) / (1200 - 300)))
                    calc(3px + (4 - 3) * ((100vw - 300px) / (1200 - 300)))
                    calc(2px + (3 - 2) * ((100vw - 300px) / (1200 - 300)))
                    ;
                }
                span{
                    position: absolute;
                    width: calc(6px + (16 - 6) * ((100vw - 1200px) / (3840 - 1200)));
                    height: 0%;
                    background-color: transparent;
                    left: 1%;
                    top: 0;
                    transition: all 0.3s ease;
                    @media screen and (max-width: 1025px){ 
                        height: 4px;
                        width: 0%;
                        bottom: -4px;
                        top: initial;
                    }
                }
                &:hover{
                    padding-left: calc(20px + (56 - 20) * ((100vw - 1200px) / (3840 - 1200)));
                    transition: all 0.3s ease;
                    @media screen and (max-width: 1025px){ 
                        padding: 0 calc(2px + (3 - 2) * ((100vw - 300px) / (1200 - 300))) calc(3px + (4 - 3) * ((100vw - 300px) / (1200 - 300))) calc(2px + (3 - 2) * ((100vw - 300px) / (1200 - 300)));
                    }
                    span{                            
                        height: 100%;
                        background-color: rgba(3, 46, 89, 0.3);
                        @media screen and (max-width: 1025px){ 
                            height: 0%;
                            background-color: rgba(3, 46, 89, 0);
                        }
                    }
                }
                &.active{
                    color: rgba(3, 46, 89, 1); 
                    padding-left: calc(20px + (56 - 20) * ((100vw - 1200px) / (3840 - 1200)));
                    @media screen and (max-width: 1025px){                                 
                        margin:
                        0
                        calc(10px + (30 - 10) * ((100vw - 300px) / (1200 - 300)));
                        ;
                        padding:
                        0
                        calc(2px + (3 - 2) * ((100vw - 300px) / (1200 - 300)))
                        calc(3px + (4 - 3) * ((100vw - 300px) / (1200 - 300)))
                        calc(2px + (3 - 2) * ((100vw - 300px) / (1200 - 300)))
                        ;
                    }
                    span{
                        height: 100%;
                        background-color: $yellow-1;
                        @media screen and (max-width: 1025px){ 
                            height: calc(6.5px + (18.6 - 6.5) * ((100vw - 1200px) / (3840 - 1200)));
                            width: 20%;
                            bottom: -4px;
                            top: initial;
                        }
                    }
                }                        
            }
        }
    }

    .imagen_docente{
        position: relative;
        grid-area: imagen-docente;
        //top: calc(-176px + (-338 - -176) * ((100vw - 1200px) / (3840 - 1200)));
        overflow: hidden;
        @media screen and (max-width: 1025px){ 
            height: calc(200px + (580 - 200) * ((100vw - 300px) / (1200 - 300)));
            margin-bottom: calc(28px + (75 - 28) * ((100vw - 300px) / (1200 - 300)));
            top: 0;
        }
        
        img{
            position: absolute;
            width: auto;
            height: calc(314px + (860 - 314) * ((100vw - 1200px) / (3840 - 1200)));
            z-index: 2;
            margin: 0 auto;  
            left: 0;
            right: 0;  
            bottom: 0;  
            display: none;
            transform: translate(0px, 20px);
            &.visible{
                display: inline;
            }
            @media screen and (max-width: 1025px){ 
                height: 100%;
                width: auto;
            }            
        }

        span{
            background-color: $gray-6;
            position: absolute;
            width: calc(248px + (680 - 248) * ((100vw - 1200px) / (3840 - 1200)));
            height: calc(248px + (680 - 248) * ((100vw - 1200px) / (3840 - 1200)));
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            z-index: 1;  
            @media screen and (max-width: 1025px){ 
                width: calc(150px + (480 - 150) * ((100vw - 300px) / (1200 - 300)));
                height: calc(150px + (480 - 150) * ((100vw - 300px) / (1200 - 300)));
            }
        }
    }

    .texto_docente{
        grid-area: texto-docente;
        margin-top: calc(75px + (200 - 75) * ((100vw - 1200px) / (3840 - 1200))); 
        padding-left: calc(14px + (54 - 14) * ((100vw - 1200px) / (3840 - 1200)));
        padding-top: calc(3px + (12 - 3) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1025px){  
            width: 80vw;
            margin: 0 auto;
        }
        p{
            @include font-level-4;
            line-height: 144%;
            color: #032e59;
            margin-top: 0;
            strong{
                font-weight: 400;
                border-bottom: calc(2px + (4 - 2) * ((100vw - 1200px) / (3840 - 1200))) solid #ffd658;
            }
            @media screen and (max-width: 1025px){  
                font-size: calc(11px + (20 - 11) * ((100vw - 300px) / (1025 - 300)));                           
            }
        }
        button{
            @include btn-ver-mas;
            &:hover{
                border-bottom: calc(2px + (4 - 2) * ((100vw - 1200px) / (3840 - 1200))) solid #032e59;
            }
            @media screen and (max-width: 1025px){  
                font-size: calc(11px + (20 - 11) * ((100vw - 300px) / (1025 - 300)));                           
            }
        }
    }
}

.slide_docente {
    animation-name: slideDocente;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

@keyframes slideDocente {
    0% {
      transform: translate(0px, 20px);
    }
    100% {
      transform: translate(0px, 0px);
    }
}