@import "../../styles/themeStyles.module.scss";

.marquee{
    margin-bottom: calc(42px + (145 - 42) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        margin-bottom: calc(30px + (100 - 30) * ((100vw - 300px) / (1024 - 300)));
    }
}


.filters_cont{
    display: flex;
    align-items: center;
    @include container-width-1;

    .menu_btn{
        @include btn-ver-mas;
    }
    .category{
        width: 85%; 
        margin:
        0
        0
        calc(75px + (235 - 75) * ((100vw - 1200px) / (3840 - 1200)))
        0;  
        @media screen and (max-width: 1024px){
            margin-bottom: calc(50px + (150 - 50) * ((100vw - 300px) / (1024 - 300)));
        }
        .btn_filter{
            @include btn-ver-mas;
            border-color: $gray-2;
            text-transform: capitalize;
            margin: 6px 0;
            @media screen and (min-width: 1024px){
                &:hover{
                    background-color: $gray-6;
                    border-color: $gray-2;
                    color: $deep-blue;
                }
                &.active{
                    background-color: $green-2;
                    border-color: $green-2;
                }
            }            
        }
    }
}
