@import "../../../styles/themeStyles.module.scss";

.heading{    
    @include container-width-1;   
    
    h1{
        @include font-level-1; 
        font-weight: 400;
        line-height: 130%;
        color: $deep-blue;
        @media screen and (max-width: 1024px){
            br{
                display: none;
            }
        } 
        /* span{
            position: relative; 
            z-index: 2;         
            &::after{              
                background-color: #ffd658;
                content: "";
                position: absolute;
                z-index: -1;
                height: calc(6px + (18 - 6) * ((100vw - 1200px) / (3840 - 1200)));                       
                width: 101%;
                left: -0.5%;
                right: 0;
                bottom: calc(-2px + (-8 - -2) * ((100vw - 1200px) / (3840 - 1200)));
            }
        } */
        span{
            background-image: url(../../../public/assets/images/line_bottom_yellow.svg);
            background-repeat: repeat-x;
            background-size: 
            calc(30px + (100 - 30) * ((100vw - 1200px) / (3840 - 1200)))
            calc(10px + (20 - 10) * ((100vw - 1200px) / (3840 - 1200)));
            background-position: bottom;
            padding-bottom: calc(4px + (8 - 4) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                background-size: 
                calc(21px + (80 - 21) * ((100vw - 300px) / (1024 - 300)))
                calc(10px + (20 - 10) * ((100vw - 300px) / (1024 - 300)));
                background-position: bottom;
                padding-bottom: calc(4px + (8 - 4) * ((100vw - 300px) / (1024 - 300)));
            }
        }
    }    

    &.margin_bottom_0{
        margin-bottom: calc(70px + (220 - 70) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            margin-bottom: calc(40px + (110 - 40) * ((100vw - 300px) / (1024 - 300)));
        }
    }

    &.margin_bottom_1{
        margin-bottom: calc(40px + (140 - 40) * ((100vw - 1200px) / (3840 - 1200)));
    }

    &.margin_bottom_2{
        margin-bottom: calc(90px + (220 - 90) * ((100vw - 1200px) / (3840 - 1200)));
    }
}