@import "../../../styles/themeStyles.module.scss";

.wrapper{    
    @include container-width-1;  
    display: grid;
    grid-template-areas: 'paragraph btn';
    grid-template-columns: 80% 20%;   
    position: relative;
    margin-bottom: calc(70px + (220 - 70) * ((100vw - 1200px) / (3840 - 1200)));
    
    .paragraph{
        grid-area: paragraph;        

        p{
            @include font-level-1; 
            font-weight: 400;
            line-height: 130%;
            color: $deep-blue;
            width: calc(620px + (2000 - 620) * ((100vw - 1200px) / (3840 - 1200))); 
            a{
                position: relative; 
                z-index: 2;    
                text-decoration: none;   
                color: $deep-blue;  
                &::before {              
                    background-color: #ffd658;
                    content: "";
                    position: absolute;
                    z-index: -1;
                    height: calc(6px + (18 - 6) * ((100vw - 1200px) / (3840 - 1200)));                       
                    width: 101%;
                    left: -0.5%;
                    right: 0;
                    bottom: calc(-2px + (-8 - -2) * ((100vw - 1200px) / (3840 - 1200)));
                }
            }
        }
    }   
    
    .btn{
        grid-area: btn;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        background-color: $green-2;
        border-radius: 50%;
        user-select: none;
        img{
            width: 40%;
            height: auto;
        }
    }
    span{
        position: relative; 
        z-index: 2;         
        &::before {              
            background-color: #ffd658;
            content: "";
            position: absolute;
            z-index: -1;
            height: calc(6px + (18 - 6) * ((100vw - 1200px) / (3840 - 1200)));                       
            width: 101%;
            left: -0.5%;
            right: 0;
            bottom: calc(-2px + (-8 - -2) * ((100vw - 1200px) / (3840 - 1200)));
        }
    }
    
}

