@import "../../styles/themeStyles.module.scss";

.marquee{
    margin-bottom: calc(42px + (145 - 42) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        margin-bottom: calc(30px + (100 - 30) * ((100vw - 300px) / (1024 - 300)));
    }
}

.highlight{
    @include container-width-1;
    margin-bottom: calc(70px + (220 - 70) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        margin-bottom: calc(40px + (140 - 40) * ((100vw - 300px) / (1024 - 300)));
    }
    br{
        @media screen and (max-width: 1024px){
            display: none;
        }
    }
}