@import "../../../styles/themeStyles.module.scss";

.container{
    overflow: hidden;
    margin-top: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
    margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        overflow: auto;
    }

    .wrapper{
        @include container-width-1;
        height: calc(494px + (1397 - 494) * ((100vw - 1200px) / (3840 - 1200)));
        position: relative;
        @media screen and (max-width: 1024px){
            height: auto;
        }

        .leaf_item{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            background-color: $gray-6;
            width: calc(600px + (1740 - 600) * ((100vw - 1200px) / (3840 - 1200)));
            padding: calc(28px + (94 - 28) * ((100vw - 1200px) / (3840 - 1200)));
            color: $deep-blue;  
            text-decoration: none;  
            box-shadow: 6px 0px 12px -2px rgba(0,0,0,0.15);  
            cursor: pointer;
            transition: all .3s;
            transition-timing-function: ease-out;
            @media screen and (max-width: 1024px){
                position: relative;
                width: 100%;
                margin-bottom: calc(15px + (25 - 15) * ((100vw - 300px) / (1024 - 300)));
                box-shadow: none;
            }
            img{
                width: 100%;
                height: auto;
                margin-bottom: calc(20px + (40 - 20) * ((100vw - 1200px) / (3840 - 1200)));
            }
            h5{
                @include font-level-2; 
                font-weight: 400;
                line-height: 130%;
                margin-bottom: calc(50px + (150 - 50) * ((100vw - 1200px) / (3840 - 1200)));
            }
            p{
                @include font-level-4; 
                font-weight: 400;
                line-height: 140%;
            }

            &:nth-of-type(1){
                z-index: 4;
                left: 0;            
            }
            &:nth-of-type(2){
                z-index: 3;
                right: calc(278px + (708 - 278) * ((100vw - 1200px) / (3840 - 1200)));    
                @media screen and (max-width: 1024px){
                    right: 0;
                }            
            }
            &:nth-of-type(3){
                z-index: 2; 
                right: calc(138px + (355 - 138) * ((100vw - 1200px) / (3840 - 1200)));  
                @media screen and (max-width: 1024px){
                    right: 0;
                }           
            }
            &:nth-of-type(4){
                z-index: 1; 
                right: 0;    
                box-shadow: none;          
            }

            @media screen and (min-width: 1025px){
                &:hover{
                    background-color: #e8e8e8;
                }
            }           
        }

        &.position_0{
            .leaf_item{
                &:nth-of-type(1){
                    z-index: 4;
                    left: 0;
                    &:hover{
                        background-color: $gray-6;
                    }            
                }
                &:nth-of-type(2){
                    z-index: 3;
                    right: calc(278px + (708 - 278) * ((100vw - 1200px) / (3840 - 1200)));                
                }
                &:nth-of-type(3){
                    z-index: 2; 
                    right: calc(138px + (355 - 138) * ((100vw - 1200px) / (3840 - 1200)));            
                }
            }
        }
        &.position_1{
            .leaf_item{
                &:nth-of-type(1){
                    z-index: 4;
                    left: calc(-458px + (-1388 - -458) * ((100vw - 1200px) / (3840 - 1200)));            
                }
                &:nth-of-type(2){
                    z-index: 3;
                    right: calc(278px + (708 - 278) * ((100vw - 1200px) / (3840 - 1200)));   
                    &:hover{
                        background-color: $gray-6;
                    }              
                }
                &:nth-of-type(3){
                    z-index: 2; 
                    right: calc(138px + (355 - 138) * ((100vw - 1200px) / (3840 - 1200)));             
                } 
            }
        }
        &.position_2{
            .leaf_item{
                &:nth-of-type(1){
                    z-index: 4;
                    left: calc(-458px + (-1388 - -458) * ((100vw - 1200px) / (3840 - 1200)));            
                }
                &:nth-of-type(2){
                    z-index: 3;
                    right: calc(737px + (2097 - 737) * ((100vw - 1200px) / (3840 - 1200)));                
                }
                &:nth-of-type(3){
                    z-index: 2; 
                    right: calc(138px + (355 - 138) * ((100vw - 1200px) / (3840 - 1200)));
                    &:hover{
                        background-color: $gray-6;
                    }              
                } 
            }
        }
        &.position_3{
            .leaf_item{
                &:nth-of-type(1){
                    z-index: 4;
                    left: calc(-458px + (-1388 - -458) * ((100vw - 1200px) / (3840 - 1200)));            
                }
                &:nth-of-type(2){
                    z-index: 3;
                    right: calc(737px + (2097 - 737) * ((100vw - 1200px) / (3840 - 1200)));                
                }
                &:nth-of-type(3){
                    z-index: 2; 
                    right: calc(598px + (1740 - 598) * ((100vw - 1200px) / (3840 - 1200)));;             
                }
                &:nth-of-type(4){
                    &:hover{
                        background-color: $gray-6;
                    }              
                }
            }
        }
    }    
}