@import "../../../styles/themeStyles.module.scss";

.overlay{
    position: fixed;
    background-color: rgba(33,35,36,.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .3s;  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    overflow: auto;      

    .close_btn{
        position: absolute;
        top: calc(20px + (60 - 20) * ((100vw - 1200px) / (3840 - 1200)));
        right: calc(32px + (110 - 32) * ((100vw - 1200px) / (3840 - 1200)));
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border: $line-1 solid $gray-4;
        width: calc(40px + (110 - 40) * ((100vw - 1200px) / (3840 - 1200)));
        height: calc(40px + (110 - 40) * ((100vw - 1200px) / (3840 - 1200)));            
        border-radius: 50%;   
        transition: all .3s;
        @media screen and (max-width: 1024px){
            top: calc(10px + (30 - 10) * ((100vw - 300px) / (1024 - 300)));
            right: calc(10px + (30 - 10) * ((100vw - 300px) / (1024 - 300)));
            border: $line-1-mobile solid $gray-4;
            width: calc(28px + (56 - 28) * ((100vw - 300px) / (1024 - 300)));
            height: calc(28px + (56 - 28) * ((100vw - 300px) / (1024 - 300)));
        }
        @media screen and (min-width: 1024px){
            &:hover{
                background-color: $deep-blue;
                border-color: $deep-blue;
                color: $white;
                span{  
                    background-color: $white;
                }
            }
        }
        span{                    
            position: absolute;
            width: calc(20px + (46 - 20) * ((100vw - 1200px) / (3840 - 1200)));
            height: calc(2.2px + (6 - 2.2) * ((100vw - 1200px) / (3840 - 1200)));
            background-color: $deep-blue;
            @media screen and (max-width: 1024px){
                width: calc(15px + (32 - 15) * ((100vw - 300px) / (1024 - 300)));
                height: calc(1.5px + (2.5 - 1.5) * ((100vw - 300px) / (1024 - 300)));
            }
            &:nth-of-type(1){
                transform: rotate(-45deg);
            }
            &:nth-of-type(2){
                transform: rotate(45deg);
            }
        }
    }

    .wrapper{
        position: relative;
        background-color: $white;
        width: calc(500px + (1300 - 500) * ((100vw - 1200px) / (3840 - 1200)));
        padding:
        calc(55px + (155 - 55) * ((100vw - 1200px) / (3840 - 1200)))
        calc(38px + (100 - 38) * ((100vw - 1200px) / (3840 - 1200)))
        calc(40px + (120 - 40) * ((100vw - 1200px) / (3840 - 1200)))
        calc(38px + (100 - 38) * ((100vw - 1200px) / (3840 - 1200)))
        ;
        opacity: 0;
        animation-name: growUp;
        animation-delay: .2s;
        animation-duration: .5s;  
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        margin: calc(100px + (220 - 100) * ((100vw - 1200px) / (3840 - 1200))) auto;
        @media screen and (max-width: 1024px){
            width: calc(280px + (1160 - 280) * ((100vw - 300px) / (1200 - 300)));
            padding:
            calc(38px + (65 - 38) * ((100vw - 300px) / (1200 - 300)))
            calc(20px + (65 - 20) * ((100vw - 300px) / (1200 - 300)))
            calc(20px + (65 - 20) * ((100vw - 300px) / (1200 - 300)))
            calc(20px + (65 - 20) * ((100vw - 300px) / (1200 - 300)))
            ;
        }

        h4{
            @include font-level-1;
            font-weight: 400;
            line-height: 130%;
            color: $deep-blue;
            margin-bottom: calc(20px + (60 - 20) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){                 
                margin-bottom: calc(15px + (30 - 15) * ((100vw - 300px) / (1025 - 300)));
            } 
        }

        p{
            @include font-level-4;
            font-weight: 400;
            line-height: 132%;
            color: $deep-blue;
            margin-bottom: calc(18px + (50 - 18) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){ 
                margin-bottom: calc(14px + (34 - 14) * ((100vw - 300px) / (1025 - 300)));
            } 
            span{
                color: $gray-1;
            }
        }
        
        .input, .textarea, .phone_input input{
            font-family: 'Roboto', sans-serif;
            @include font-level-4;
            font-weight: 400;
            color: $deep-blue;
            display: block;                            
            width: 100%;
            padding: calc(8px + (22 - 8) * ((100vw - 1200px) / (3840 - 1200))) calc(3px + (4 - 3) * ((100vw - 1200px) / (3840 - 1200))); 
            box-sizing: border-box;
            border: none;   
            border-bottom: calc(1.5px + (3 - 1.5) * ((100vw - 1200px) / (3840 - 1200))) solid $green-2;            
            @media screen and (max-width: 1024px){
                padding: 
                calc(6px + (18 - 6) * ((100vw - 300px) / (1200 - 300)))
                calc(3px + (4 - 3) * ((100vw - 300px) / (1200 - 300)))
                ;
                border-bottom: calc(1.5px + (2.5 - 1.5) * ((100vw - 300px) / (1200 - 300))) solid $green-2;                             
            }
            &::placeholder {                                
                opacity: 1;  
                color: $gray-2;                          
            }
            &:focus {
                transition: all 0.2s ease; 
                outline: none;
                &::placeholder {                            
                    opacity: 0;
                    color: $deep-blue;   
                }
            }   
                                
        }
        .phone_input{
            >div{
                @include font-level-4;
                padding-left: calc(5px + (10 - 5) * ((100vw - 1200px) / (3840 - 1200))); 
                @media screen and (max-width: 1025px){
                    padding-left: calc(5px + (8 - 5) * ((100vw - 300px) / (1200 - 300)));
                }                    
            }
        }
        .send_btn{
            @include btn-ver-mas;
            margin-top: calc(18px + (50 - 18) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-top: calc(15px + (40 - 16) * ((100vw - 300px) / (1200 - 300)));                                    
            }
            
            &[disabled]
            {
                background-color: $gray-6;
                border-color:$gray-6;
                background-image: url(/assets/spinners/loader-button.svg);
                background-repeat: no-repeat;
                background-position: calc((14px + 26 * (100vw - 1200px) / 2640) * .5) center;
                padding-left:  calc((14px + 26 * (100vw - 1200px) / 2640) * 2);
                background-size: auto 50%;                
                &:hover{
                    color: $deep-blue;

                }
            }
        }
    } 

    &.close_animation{
        opacity: 1;
        animation-name: fadeOut;
        animation-delay: .5s;
        animation-duration: .3s;  
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        .wrapper, .close_btn{
            opacity: 1;
            animation-name: growDown;            
            animation-duration: .2s;  
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards; 
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes growUp {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growDown {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}