@import "../../../styles/themeStyles.module.scss";

.container{
    //background-color: $green-3;
    width: calc(1128px + (3101 - 1128) * ((100vw - 1200px) / (3840 - 1200)));
    //height: calc(600px + (1638 - 600) * ((100vw - 1200px) / (3840 - 1200)));
    margin:
    0
    auto
    calc(65px + (230 - 65) * ((100vw - 1200px) / (3840 - 1200)))
    auto
    ;
    @media screen and (max-width: 1024px){
        width: calc(280px + (988 - 280) * ((100vw - 300px) / (1024 - 300)));
        margin:
        0
        auto
        calc(40px + (80 - 40) * ((100vw - 300px) / (1024 - 300)))
        auto
        ;
    }
    video{
        width: 100%;
        height: auto;
    }
}

/* .container{
    background-color: $green-3;
    width: calc(1128px + (3101 - 1128) * ((100vw - 1200px) / (3840 - 1200)));
    height: calc(600px + (1638 - 600) * ((100vw - 1200px) / (3840 - 1200)));
    margin:
    0
    auto
    calc(65px + (230 - 65) * ((100vw - 1200px) / (3840 - 1200)))
    auto
    ;
    overflow: hidden;
    @media screen and (max-width: 1024px){
        width: calc(280px + (988 - 280) * ((100vw - 300px) / (1024 - 300)));
        margin:
        0
        auto
        calc(40px + (80 - 40) * ((100vw - 300px) / (1024 - 300)))
        auto
        ;
    }
    video{
        width: calc(1128px + (3101 - 1128) * ((100vw - 1200px) / (3840 - 1200)));
        height: auto;
        margin: 0 auto;
    }
} */