@import "../../../styles/themeStyles.module.scss";

.highlight{
    @include font-level-1; 
    font-weight: 400;
    line-height: 130%;
    color: $deep-blue;
    width: calc(750px + (2390 - 750) * ((100vw - 1200px) / (3840 - 1200))); 
    span{
        background-image: url(../../../public/assets/images/line_bottom_yellow.svg);
        background-repeat: repeat-x;
        background-size: 
        calc(30px + (100 - 30) * ((100vw - 1200px) / (3840 - 1200)))
        calc(10px + (20 - 10) * ((100vw - 1200px) / (3840 - 1200)));
        background-position: bottom;
        padding-bottom: calc(4px + (8 - 4) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            background-size: 
            calc(16px + (60 - 16) * ((100vw - 300px) / (1024 - 300)))
            calc(10px + (20 - 10) * ((100vw - 300px) / (1024 - 300)));
            background-position: bottom;
            padding-bottom: calc(5px + (8 - 5) * ((100vw - 300px) / (1024 - 300)));
        }
    }    
    &.margin_bottom_0{
        margin-bottom: calc(70px + (200 - 70) * ((100vw - 1200px) / (3840 - 1200)));
    }
    &.margin_bottom_1{
        margin-bottom: calc(28px + (68 - 28) * ((100vw - 1200px) / (3840 - 1200)));
    }
    @media screen and (max-width: 1025px){ 
        width: 100%; 
        @include font-level-2; 

    }
}