@import "../../../styles/themeStyles.module.scss";

.footer_site{     
    background-color: $deep-blue;
    width: 100%;

    .wrapper{
        @include container-width-1;
        h4{
            @include font-level-2;
            font-weight: 400;
            color: $green-2;
            margin-bottom: calc(25px + (65 - 25) * ((100vw - 1200px) / (3840 - 1200)));
        }

        p{
            @include font-level-4;
            font-weight: 300;
            line-height: 140%;
            margin-bottom: calc(25px + (65 - 25) * ((100vw - 1200px) / (3840 - 1200)));
            span{
                color: $green-2;
            }
        }
        .info_top{
            display: grid;
            grid-template-areas: 'left right';
            grid-template-columns: 63% 37%;
            color: $white;
            padding: 
            calc(65px + (265 - 65) * ((100vw - 1200px) / (3840 - 1200)))
            0
            calc(45px + (200 - 45) * ((100vw - 1200px) / (3840 - 1200)))
            0
            ;       
            @media screen and (max-width: 1025px){ 
                grid-template-areas: 'left' 'right';
                grid-template-columns: 100% 100%;
                padding: 
                calc(35px + (80 - 35) * ((100vw - 300px) / (1024 - 300)))
                0
                calc(45px + (100 - 45) * ((100vw - 300px) / (1024 - 300)))
                0
                ;
            }  

            .col_left{
                grid-area: left;
                @media screen and (max-width: 1025px){ 
                    margin-bottom: calc(25px + (60 - 25) * ((100vw - 300px) / (1024 - 300)));
                }
            }
            .col_right{
                grid-area: right;
                .input_group{  
                    position: relative;                  
                    .input_email{
                        width: 100%;
                        background-color: transparent;
                        border-top-style: none;
                        border-right-style: none;
                        border-left-style: none;
                        border-bottom: solid $line-1 $white;  
                        @include font-level-4;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;                        
                        line-height: 100%;
                        color: $white; 
                        padding:
                        calc(8px + (26 - 8) * ((100vw - 1200px) / (3840 - 1200)))
                        0
                        calc(18px + (56 - 18) * ((100vw - 1200px) / (3840 - 1200)))
                        0
                        ;
                        @media screen and (max-width: 1025px){ 
                            padding:
                            calc(8px + (26 - 8) * ((100vw - 300px) / (1024 - 300)))
                            0
                            calc(12px + (18 - 12) * ((100vw - 300px) / (1024 - 300)))
                            0
                            ;
                        }
                        &::placeholder {                      
                            color: $gray-2;
                        }
                        &:focus {
                            outline: none;
                            &::placeholder {                      
                                color: transparent;
                            }
                        }
                    }
                    .btn_send{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: calc(36px + (96 - 36) * ((100vw - 1200px) / (3840 - 1200)));
                        height: calc(36px + (96 - 36) * ((100vw - 1200px) / (3840 - 1200)));
                        background-color: $green-2;
                        background-image: url(../../../public/assets/icons/arrow_next_icon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 55%;    
                        border-radius: 50%;
                        @media screen and (max-width: 1025px){ 
                            width: calc(27px + (57 - 27) * ((100vw - 300px) / (1024 - 300)));
                            height: calc(27px + (57 - 27) * ((100vw - 300px) / (1024 - 300))); 
                        }
                        @media screen and (min-width: 1025px){
                            &:hover{
                                background-color: $white; 
                            }
                        }
                    }
                }
            }
        }
        .info_bottom{
            display: grid;
            grid-template-areas: 'left right';
            grid-template-columns: 63% 37%;
            color: $white;
            padding: 
            0
            0
            calc(35px + (120 - 35) * ((100vw - 1200px) / (3840 - 1200)))
            0
            ;
            @media screen and (max-width: 1025px){ 
                grid-template-areas: 'right' 'left';
                grid-template-columns: 100% 100%;
                padding: 
                0
                0
                calc(25px + (50 - 25) * ((100vw - 300px) / (1024 - 300)))
                0
                ;
            } 

            .col_left{
                grid-area: left;
                p{
                    margin-bottom: 0;
                }
            }
            .col_right{
                grid-area: right;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media screen and (max-width: 1025px){ 
                    margin-bottom: calc(25px + (60 - 25) * ((100vw - 300px) / (1024 - 300)));
                }

                h4{
                    margin-bottom: 0;
                }

                .social_media{
                    display: flex;
                    .social_media_btn{  
                            position: relative;    
                            width: calc(36px + (96 - 36) * ((100vw - 1200px) / (3840 - 1200)));
                            height: calc(36px + (96 - 36) * ((100vw - 1200px) / (3840 - 1200))); 
                            background-color: $green-2;                
                            border-radius: 50%;                            
                            margin-right: calc(6px + (16 - 6) * ((100vw - 1200px) / (3840 - 1200)));
                            @media screen and (max-width: 1025px){ 
                                width: calc(27px + (57 - 27) * ((100vw - 300px) / (1024 - 300)));
                                height: calc(27px + (57 - 27) * ((100vw - 300px) / (1024 - 300))); 
                                margin-right: calc(6px + (14 - 6) * ((100vw - 300px) / (1024 - 300)));
                            }
                            @media screen and (min-width: 1025px){
                                &:hover{
                                    background-color: $white; 
                                }
                            }

                        &.facebook{
                            &::after{
                                content: url('../../../public/assets/icons/facebook_icon.svg');
                            }                       
                        }
                        &.twitter{
                            &::after{
                                content: url('../../../public/assets/icons/twitter_icon.svg');
                            } 
                        }
                        &.instagram{
                            &::after{
                                content: url('../../../public/assets/icons/instagram_icon.svg');
                            }
                        }
                        &.linkedin{
                            &::after{
                                content: url('../../../public/assets/icons/linkedin_icon.svg');
                            }
                        }
                        &.youtube{
                            &::after{
                                content: url('../../../public/assets/icons/youtube_icon.svg');
                            }
                        }
                    }
                }
            }            
        }
    }
}