@import "../../../styles/themeStyles.module.scss";

.carrousel_propuestas_usina{    
    margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));  
    @media screen and (max-width: 1024px){
        margin-bottom: calc(35px + (100 - 35) * ((100vw - 300px) / (1024 - 300)));
    } 
    .card{ 
        @include course-card-1;
        position: relative; 
        h5{
            width: 100%;
            line-height: 120%;
            @include font-level-3;
            font-weight: 500;
            // margin-bottom: calc((30px + (110 - 30) * ((100vw - 1200px) / (3840 - 1200))) / 2);   
            margin-bottom: calc(20px + (60 - 20) * ((100vw - 1200px) / (3840 - 1200)));         
            @media screen and (max-width: 1024px){
                // margin-bottom: calc(25px + (75 - 25) * ((100vw - 300px) / (1024 - 300)));
                @include font-level-2;
                font-weight: 400;
                margin-bottom: calc(20px + (55 - 20) * ((100vw - 300px) / (1024 - 300)));
            }
        }
        img{
            margin-bottom: calc(20px + (40 - 20) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(10px + (30 - 10) * ((100vw - 300px) / (1024 - 300)));
            } 
        }
        p{
            margin-bottom: calc(20px + (60 - 20) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(20px + (55 - 20) * ((100vw - 300px) / (1024 - 300)));
            }           
        }
        .description{
            width: 100%;
            strong{    
                font-weight: 400;
                background-image: url(../../../public/assets/icons/triangle_green_icon.svg);         
                background-repeat: no-repeat;
                background-size: auto 62%;
                background-position: left center;   
                padding-left: calc(16px + (40 - 16) * ((100vw - 1200px) / (3840 - 1200)));   
                @media screen and (max-width: 1024px){
                    padding-left: calc(21px + (45 - 21) * ((100vw - 300px) / (1024 - 300)));
                }          
            }
        }
        .duration_and_modality{
            width: 100%;
            // margin-bottom: calc(15px + (45 - 15) * ((100vw - 1200px) / (3840 - 1200)));
            margin-bottom: calc(25px + (65 - 25) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
              // margin-bottom: calc(22px + (60 - 22) * ((100vw - 300px) / (1024 - 300)));
              margin-bottom: calc(20px + (55 - 20) * ((100vw - 300px) / (1024 - 300)));
            }
            p{
                display: inline-block;                
                background-repeat: no-repeat;
                background-size: auto 80%;
                background-position: left center;          
                margin-bottom: 0;    
                line-height: 120%;         
            /*     &:nth-child(1){
                    margin-right: calc(16px + (56 - 16) * ((100vw - 1200px) / (3840 - 1200)));
                    border-bottom: $line-2 solid $yellow-1;
                    @media screen and (max-width: 1024px){
                        margin-right: calc(12px + (45 - 12) * ((100vw - 300px) / (1024 - 300)));
                    }
                } */
                &:nth-child(1){
                    background-image: url(../../../public/assets/icons/duration_icon.svg);
                    padding-left: calc(20px + (50 - 20) * ((100vw - 1200px) / (3840 - 1200)));
                    margin-right: calc(16px + (56 - 16) * ((100vw - 1200px) / (3840 - 1200)));
                    @media screen and (max-width: 1024px){
                        padding-left: calc(21px + (40 - 21) * ((100vw - 300px) / (1024 - 300)));
                        margin-right: calc(12px + (45 - 12) * ((100vw - 300px) / (1024 - 300)));
                    }
                }
                &:nth-child(2){
                    padding-left: calc(22px + (55 - 22) * ((100vw - 1200px) / (3840 - 1200)));
                    background-image: url(../../../public/assets/icons/modality_icon.svg);   
                    @media screen and (max-width: 1024px){
                        padding-left: calc(21px + (45 - 21) * ((100vw - 300px) / (1024 - 300)));
                    }               
                }
            }
        }       
    }
}