@import "../../../styles/themeStyles.module.scss";

.carrousel_propuestas_usina{    
    margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));  
    @media screen and (max-width: 1024px){
        margin-bottom: calc(35px + (100 - 35) * ((100vw - 300px) / (1024 - 300)));
    } 
    .card{
        @include course-card-1;
        position: relative; 
        h5{
            margin-bottom: calc((30px + (110 - 30) * ((100vw - 1200px) / (3840 - 1200))) / 2);
            width: 100%;
            @media screen and (max-width: 1024px){
                margin-bottom: calc(25px + (75 - 25) * ((100vw - 300px) / (1024 - 300)));
            }
        }
        img{
            margin-bottom: calc(20px + (40 - 20) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(10px + (30 - 10) * ((100vw - 300px) / (1024 - 300)));
            } 
        }
        p{
            margin-bottom: calc(25px + (65 - 25) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(20px + (55 - 20) * ((100vw - 300px) / (1024 - 300)));
            }           
        }
        .duration_and_modality{
            width: 100%;
            margin-bottom: calc(28px + (70 - 28) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(22px + (60 - 22) * ((100vw - 300px) / (1024 - 300)));
            }
            p{
                display: inline-block;                
                background-repeat: no-repeat;
                background-size: auto 80%;
                background-position: left center;   
                
                margin-bottom: 0;             
                &:nth-child(1){
                    margin-right: calc(18px + (70 - 18) * ((100vw - 1200px) / (3840 - 1200)));
                    text-transform: uppercase;
                    @media screen and (max-width: 1024px){
                        margin-right: calc(12px + (45 - 12) * ((100vw - 300px) / (1024 - 300)));
                    }
                }
                &:nth-child(2){
                    background-image: url(../../../public/assets/icons/duration_icon.svg);
                    padding-left: calc(21px + (55 - 21) * ((100vw - 1200px) / (3840 - 1200)));
                    margin-right: calc(18px + (70 - 18) * ((100vw - 1200px) / (3840 - 1200)));
                    @media screen and (max-width: 1024px){
                        padding-left: calc(21px + (40 - 21) * ((100vw - 300px) / (1024 - 300)));
                        margin-right: calc(12px + (45 - 12) * ((100vw - 300px) / (1024 - 300)));
                    }
                }
                &:nth-child(3){
                    padding-left: calc(24px + (62 - 24) * ((100vw - 1200px) / (3840 - 1200)));
                    background-image: url(../../../public/assets/icons/modality_icon.svg);   
                    @media screen and (max-width: 1024px){
                        padding-left: calc(21px + (45 - 21) * ((100vw - 300px) / (1024 - 300)));
                    }               
                }
            }
        }       
    }
}