@import "../../../styles/themeStyles.module.scss";

.heading{
    @include container-width-1;
    @include font-level-1;
    font-weight: 400;
    line-height: 130%;
    color: $deep-blue;
    margin-bottom: calc(70px + (220 - 70) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1025px){ 
        line-height: 120%;
        margin-bottom: calc(30px + (80 - 30) * ((100vw - 300px) / (1024 - 300)));
    } 
    strong{
        font-weight: 400;
        background-image: url(../../../public/assets/images/line_bottom_yellow.svg);
        background-repeat: repeat-x;
        background-size: 
        calc(30px + (100 - 30) * ((100vw - 1200px) / (3840 - 1200)))
        calc(10px + (20 - 10) * ((100vw - 1200px) / (3840 - 1200)));
        background-position: bottom;
        padding-bottom: calc(4px + (8 - 4) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            background-size: 
            calc(21px + (80 - 21) * ((100vw - 300px) / (1024 - 300)))
            calc(10px + (20 - 10) * ((100vw - 300px) / (1024 - 300)));
            background-position: bottom;
            padding-bottom: calc(4px + (8 - 4) * ((100vw - 300px) / (1024 - 300)));
        }
    }
    br[data-context="mobile"]{
        
        @media screen and (min-width: 1024px){
            display: none;
        }            
         
    }
    br[data-context="desktop"]{
        &.mobile{
            @media screen and (max-width: 1024px){
                display: none;
            }            
        } 
    }
}