@import "../../styles/themeStyles.module.scss";

.marquee{
    margin-bottom: calc(42px + (145 - 42) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        margin-bottom: calc(30px + (100 - 30) * ((100vw - 300px) / (1024 - 300)));
    }
}

.overflow_wrapper{
    overflow: hidden;
}

.pin_block {
    @include container-width-1;
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 50% 50%; 
    margin-bottom: calc(120px + (420 - 120) * ((100vw - 1200px) / (3840 - 1200)));    
    @media screen and (max-width: 1024px){
        grid-template-areas: 'left' 'right';
        grid-template-columns: 100% 100%; 
        margin-bottom: calc(50px + (175 - 50) * ((100vw - 300px) / (1024 - 300)));
    }
        
    .col_left{
        grid-area: left;  
        padding-right: calc(100px + (290 - 100) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            padding-right: 0;
        }       

        .back_arrow{
            text-decoration: none;
            span{
                display: flex;
                align-items: center;    
                @include font-level-4;
                color: $deep-blue;    
                line-height: 105%;   
                margin-bottom: calc(36px + (80 - 36) * ((100vw - 1200px) / (3840 - 1200)));   
                @media screen and (max-width: 1024px){
                    margin-bottom: calc(25px + (80 - 25) * ((100vw - 300px) / (1024 - 300)));
                }                            
                img{
                    width: calc(12px + (28 - 12) * ((100vw - 1200px) / (3840 - 1200)));
                    height: auto;
                    margin-right: calc(10px + (26 - 10) * ((100vw - 1200px) / (3840 - 1200)));
                    @media screen and (max-width: 1024px){
                        width: calc(10px + (22 - 10) * ((100vw - 300px) / (1024 - 300)));
                    }
                }
                strong{
                    font-weight: 400;
                    border-bottom: $line-2 solid $yellow-1; 
                }                      
            }                       
        }

        h1{
            @include font-level-2;
            line-height: 130%;
            font-weight: 400;     
            color: $deep-blue;  
            margin-bottom: calc(36px + (80 - 36) * ((100vw - 1200px) / (3840 - 1200))); 
            @media screen and (max-width: 1024px){
                @include font-level-1;
                line-height: normal;
                margin-bottom: calc(20px + (80 - 20) * ((100vw - 300px) / (1024 - 300)));
            }
        }

        .authors{
            @include font-level-4;
            color: $deep-blue;
            font-weight: 400;
            line-height: 144%;
            margin-bottom: calc(40px + (100 - 40) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(20px + (80 - 20) * ((100vw - 300px) / (1024 - 300)));
            }
            
            p{
                margin: 0;
                display: inline-block;
                span{
                    color: $gray-2;
                }
            }
            a{
                color: $gray-2;
                display: inline-block;
                &:last-of-type{
                    span{
                        display: none;
                    }
                }
                @media screen and (min-width: 1025px){
                    &:hover{
                        color: $green-1;
                    }
                }
            }
        }
        
        .btns{
            display: flex;
            .btn{
                @include btn-ver-mas;                
                span{
                    display: flex;
                    align-items: center;
                    img{                       
                        height: auto;
                        margin-right: calc(10px + (26 - 10) * ((100vw - 1200px) / (3840 - 1200)));
                        @media screen and (max-width: 1024px){
                            margin-right: calc(8px + (16 - 8) * ((100vw - 300px) / (1024 - 300))); 
                        }
                    }
                }           
                &.download{
                    background-color: $green-2;
                    border-color: $green-2;
                    margin-right: calc(5px + (20 - 5) * ((100vw - 1200px) / (3840 - 1200)));
                    @media screen and (min-width: 1024px){
                        &:hover{
                            background-color: $deep-blue;
                            border-color: $deep-blue;
                        }
                    }
                    @media screen and (max-width: 1024px){
                        margin-right: calc(5px + (15 - 5) * ((100vw - 300px) / (1024 - 300))); 
                    }
                    span{                        
                        img{
                            width: calc(12px + (28 - 12) * ((100vw - 1200px) / (3840 - 1200)));
                            @media screen and (max-width: 1024px){
                                width: calc(8px + (18 - 8) * ((100vw - 300px) / (1024 - 300))); 
                            }
                        }
                    }                     
                }   
                &.link{
                    span{                        
                        img{
                            width: calc(16px + (36 - 16) * ((100vw - 1200px) / (3840 - 1200)));
                            @media screen and (max-width: 1024px){
                                width: calc(10px + (23 - 10) * ((100vw - 300px) / (1024 - 300))); 
                            }
                        }
                    }
                }                   
                &.share{
                    span{                        
                        img{
                            width: calc(14px + (34 - 14) * ((100vw - 1200px) / (3840 - 1200)));
                            @media screen and (max-width: 1024px){
                                width: calc(9px + (21 - 9) * ((100vw - 300px) / (1024 - 300))); 
                            }
                        }
                    }                    
                }
                @media screen and (min-width: 1024px){
                    &:hover{       
                        span{
                            img{
                                filter: grayscale(100%) brightness(20);     
                            }
                        }                              
                    }
                    &:active{
                        filter: brightness(90%);
                        transform: scale(0.95);
                    }
                }            
            }
        }        
    }

    .col_right{ 
        grid-area: right;        

        .content{
            padding-top: calc(60px + (145 - 60) * ((100vw - 1200px) / (3840 - 1200)));
            margin-bottom: calc(38px + (60 - 38) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                padding-top: calc(30px + (100 - 30) * ((100vw - 300px) / (1024 - 300)));
                margin-bottom: calc(30px + (100 - 30) * ((100vw - 300px) / (1024 - 300))); 
            }
            >:first-child{
                margin-top: 0;
                padding-top: 0;
            } 
            h3{
                @include font-level-3;
                color: $deep-blue;
                font-weight: 500;
                padding-top: calc(28px + (95 - 28) * ((100vw - 1200px) / (3840 - 1200)));
                margin-bottom: calc(24px + (56 - 24) * ((100vw - 1200px) / (3840 - 1200)));
                strong{
                    font-weight: 500;
                }
                @media screen and (max-width: 1024px){
                    padding-top: calc(22px + (82 - 22) * ((100vw - 300px) / (1024 - 300))); 
                    margin-bottom: calc(15px + (50 - 15) * ((100vw - 300px) / (1024 - 300))); 
                } 
            }
            p{
                @include font-level-4;
                color: $deep-blue;
                font-weight: 400;
                line-height: 144%;
                margin-bottom: calc(24px + (56 - 24) * ((100vw - 1200px) / (3840 - 1200)));                
                @media screen and (max-width: 1024px){
                    margin-bottom: calc(15px + (50 - 15) * ((100vw - 300px) / (1024 - 300))); 
                    line-height: 160%;
                }
            }

            a{
                color: $deep-blue;
                strong{
                    font-weight: 400;
                }
                @media screen and (min-width: 1025px){
                    &:hover{
                        color: $green-1;
                    }
                }
            }

            img {
                width: 100%;
                height: auto;
            }

            ul{
                padding-left: calc(15px + (38 - 15) * ((100vw - 1200px) / (3840 - 1200)));    
                @media screen and (max-width: 1024px){
                    padding-left: calc(12px + (28 - 12) * ((100vw - 300px) / (1024 - 300))); 
                }   
                li{
                    @include font-level-4;
                    color: $deep-blue;
                    font-weight: 400;
                    line-height: 144%;
                    margin-bottom: calc(24px + (56 - 24) * ((100vw - 1200px) / (3840 - 1200)));                
                    @media screen and (max-width: 1024px){
                        margin-bottom: calc(15px + (50 - 15) * ((100vw - 300px) / (1024 - 300))); 
                        line-height: 160%;
                    }
                }
            }

            div[data-type="video"]{
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                margin-bottom: calc(24px + (56 - 24) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    margin-bottom: calc(15px + (50 - 15) * ((100vw - 300px) / (1024 - 300))); 
                }
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            div[data-type="img-w-pie"]{
                padding-top: calc(20px + (56 - 20) * ((100vw - 1200px) / (3840 - 1200)));  
                padding-bottom: calc(15px + (45 - 15) * ((100vw - 1200px) / (3840 - 1200)));            
                @media screen and (max-width: 1024px){
                    padding-top: calc(15px + (50 - 15) * ((100vw - 300px) / (1024 - 300))); 
                    padding-bottom: calc(10px + (45 - 10) * ((100vw - 300px) / (1024 - 300)));
                }
                p{
                    @include font-level-5;
                    color: $gray-1;
                }
            }

            div[data-type="insta-video"]{
                background-color: $gray-6;
                padding: calc(35px + (56 - 35) * ((100vw - 1200px) / (3840 - 1200)));  
                display: flex;  
                justify-content: center;        
                margin: calc(30px + (80 - 30) * ((100vw - 1200px) / (3840 - 1200))) 0;       
                @media screen and (max-width: 1024px){
                    padding: calc(15px + (50 - 15) * ((100vw - 300px) / (1024 - 300))); 
                    margin: calc(25px + (80 - 25) * ((100vw - 300px) / (1024 - 300))) 0; 
                }
                iframe{
                    overflow: hidden!important;
                    margin: 0!important;
                    max-width: 0!important;
                    min-width: calc(280px + (650 - 280) * ((100vw - 1200px) / (3840 - 1200)))!important;
                    height: calc(400px + (750 - 280) * ((100vw - 1200px) / (3840 - 1200)))!important;
                    @media screen and (max-width: 1024px){
                        min-width: calc(245px + (650 - 245) * ((100vw - 300px) / (1024 - 300)))!important;
                        height: calc(360px + (785 - 280) * ((100vw - 300px) / (1024 - 300)))!important;
                    }
                }
            }
        }

        .hashtags{
            padding-top: calc(5px + (75 - 5) * ((100vw - 1200px) / (3840 - 1200)));
            margin-bottom: calc(30px + (60 - 30) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                padding-top: 0; 
                margin-bottom: calc(30px + (100 - 30) * ((100vw - 300px) / (1024 - 300))); 
            }

            p, button{
                @include font-level-4;
                display: inline-block;
                line-height: 144%;
                @media screen and (max-width: 1024px){
                    line-height: 160%;
                }
            }
            p{color: $deep-blue;}

            button{
                color: $green-1;
                padding: revert;
                @media screen and (min-width: 1024px){
                    &:hover{
                        text-decoration: underline;
                    }
                } 
            }
        } 

        .legal{
            background-color: $gray-6;
            padding: calc(22px + (80 - 22) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                padding: calc(15px + (45 - 15) * ((100vw - 300px) / (1024 - 300))); 
            }
            
            .box{
                margin-bottom: calc(25px + (80 - 25) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    margin-bottom: calc(20px + (55 - 20) * ((100vw - 300px) / (1024 - 300))); 
                }
                &:last-of-type{
                    margin-bottom: 0;
                }
                h4{
                    @include font-level-4;
                    color: $deep-blue;
                    font-weight: 500;
                    margin-bottom: calc(12px + (40 - 12) * ((100vw - 1200px) / (3840 - 1200)));
                    @media screen and (max-width: 1024px){
                        margin-bottom: calc(10px + (20 - 10) * ((100vw - 300px) / (1024 - 300)));
                        line-height: 160%;
                    }
                }
                p, a{
                    @include font-level-5;
                    color: $deep-blue;
                    font-weight: 400;
                    line-height: 144%;   
                    @media screen and (max-width: 1024px){
                        line-height: 160%;
                    }                
                }
            }
        }        
    }
}