@import "../../../styles/themeStyles.module.scss";

.wrapper{
    display: flex;
    align-items: center;

    .menu_btn{
        @include btn-ver-mas;
    }

    .hashtags{
        background-color: antiquewhite;
        margin: 40px;
        .btn_filter{
            margin-left: 20px;
            font-size: 20px;
            &.active{
                background-color: red;
            }
        }
    }
}
