@import "../../../styles/themeStyles.module.scss";

.wrapper{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @include container-width-1;

    .menu_btn{
        @include btn-ver-mas;
        display: flex;
        .filter_icon{
            display: flex;
            align-items: center;
            width: calc(18px + (46 - 18) * ((100vw - 1200px) / (3840 - 1200)));
            height: auto;
            margin-left: calc(10px + (28 - 10) * ((100vw - 1200px) / (3840 - 1200)));
        }
        @media screen and (min-width: 1025px){
            &:hover{
                .filter_icon{
                    filter: grayscale(100%) brightness(20);                           
                }                    
            }
            &:active{
                filter: brightness(90%);
                transform: scale(0.95);
            }
        }
    }

    .hashtags{
        width: calc(880px + (2400 - 880) * ((100vw - 1200px) / (3840 - 1200))); 
        margin:
        0
        0
        calc(75px + (235 - 75) * ((100vw - 1200px) / (3840 - 1200)))
        0;  
        @media screen and (max-width: 1024px){
            margin-bottom: calc(50px + (150 - 50) * ((100vw - 300px) / (1024 - 300)));
        }
             
        .btn_filter{
            @include btn-ver-mas;
            border-color: $gray-2;
            @media screen and (min-width: 1024px){
                &:hover{
                    background-color: $gray-6;
                    border-color: $gray-2;
                    color: $deep-blue;
                }
                &.active{
                    background-color: $green-2;
                    border-color: $green-2;
                }
            }            
        }
    }
}