@import "../../../styles/themeStyles.module.scss";

.navbar{
    position: fixed;
    z-index: 100;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;       
    
    .nav_btns{
        background-color: rgba(255,255,255,.9);
        left: 0;
        right: 0; 
        padding: 
        calc(10px + (24 - 10) * ((100vw - 1200px) / (3840 - 1200)))
        calc(35px + (370 - 35) * ((100vw - 1200px) / (3840 - 1200)))
        ; 
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 100;
        backdrop-filter: blur(10px);
        position: absolute;
        @media screen and (max-width: 1024px){   
            padding: 
            calc(8px + (16 - 8) * ((100vw - 300px) / (1200 - 300)))
            calc(10px + (20 - 10) * ((100vw - 300px) / (1200 - 300)))
            ;     
        }

        .brand{        
            line-height: 0px;
            img{
                width: calc(114px + (300 - 114) * ((100vw - 1200px) / (3840 - 1200)));
                height: auto;
                @media screen and (max-width: 1024px){  
                    width: calc(85px + (185 - 85) * ((100vw - 300px) / (1200 - 300)));       
                }
            }        
        }
    
       .menu_btn{
            @include btn-ver-mas;
            background-color: transparent;
            border-color: $green-2;  
            &.grow{
                animation-name: growUp;
                animation-duration: 0.6s;
                animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                animation-fill-mode: forwards;
            }
            @media screen and (max-width: 1024px){  
                border-color: $green-2;
            }
            @media screen and (min-width: 1024px){
                &:hover{
                    background-color: $green-2;
                    border-color: $green-2;
                    color: $deep-blue;
                }
            } 
        } 

    }       
}

.overlay{
    background-color: rgba(33,35,36,.4);
    position: fixed;
    z-index: 110;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
  
    .wrapper{   
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 
        calc(28px + (62 - 28) * ((100vw - 1200px) / (3840 - 1200)))
        calc(35px + (370 - 35) * ((100vw - 1200px) / (3840 - 1200)))
        0
        0
        ;   
        @media screen and (max-width: 1024px){
            justify-content: normal;
            display: grid;
            grid-template-areas: 'close' 'btns';
            grid-template-columns: 100% 100%;
            padding: 
            calc(22px + (36 - 22) * ((100vw - 300px) / (1200 - 300)))
            calc(10px + (20 - 10) * ((100vw - 300px) / (1200 - 300)))
            0
            calc(10px + (20 - 10) * ((100vw - 300px) / (1200 - 300)))
            ;    
        } 

        .sections{
            grid-area: btns;
            .btn_section{
                @include btn-ver-mas;                
                background-color: $white;
                border-color: transparent; 
                margin-right: calc(12px + (30 - 12) * ((100vw - 1200px) / (3840 - 1200)));
                opacity: 0;
                animation-name: growUp;
                animation-duration: 0.6s;
                animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                animation-fill-mode: forwards;
                &.active{
                    background-color: $yellow-1;
                }
                @media screen and (max-width: 1024px){
                    @include font-level-4;
                    border-color: transparent; 
                    display: table;
                    margin-left: auto;
                    margin-right: 0;
                    margin-bottom: calc(8px + (16 - 8) * ((100vw - 300px) / (1200 - 300)));
                }
                @media screen and (min-width: 1024px){
                    &:hover{
                        background-color: $yellow-1;
                        border-color: $yellow-1;
                        color: $deep-blue;
                    }
                }
            }
        }   

        .close_btn{
            grid-area: close;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            border: $line-1 solid transparent;
            width: calc(40px + (110 - 40) * ((100vw - 1200px) / (3840 - 1200)));
            height: calc(40px + (110 - 40) * ((100vw - 1200px) / (3840 - 1200)));            
            border-radius: 50%;   
            @media screen and (max-width: 1024px){
                border: $line-1-mobile solid $white;
                width: calc(28px + (56 - 28) * ((100vw - 300px) / (1024 - 300)));
                height: calc(28px + (56 - 28) * ((100vw - 300px) / (1024 - 300)));
                margin-left: auto;
                margin-bottom: calc(25px + (55 - 25) * ((100vw - 300px) / (1024 - 300)));
            }
            span{                    
                position: absolute;
                width: calc(20px + (46 - 20) * ((100vw - 1200px) / (3840 - 1200)));
                height: calc(2.2px + (6 - 2.2) * ((100vw - 1200px) / (3840 - 1200)));
                background-color: $deep-blue;
                @media screen and (max-width: 1024px){
                    width: calc(15px + (32 - 15) * ((100vw - 300px) / (1024 - 300)));
                    height: calc(1.5px + (2.5 - 1.5) * ((100vw - 300px) / (1024 - 300)));
                }
                &:nth-of-type(1){
                    transform: rotate(-45deg);
                }
                &:nth-of-type(2){
                    transform: rotate(45deg);
                }
            }
            @media screen and (min-width: 1025px){
                &:hover{
                    border: $line-1 solid $deep-blue;
                    background-color: $deep-blue;
                    span{
                        background-color: $white;
                    }
                }
            }
        }
     
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes growUp {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
