@import "../../../styles/themeStyles.module.scss";

.navbar{
    position: fixed;
    z-index: 100;
    background-color: rgba(255,255,255,.9);
    top: 0;
    left: 0;
    right: 0;
    padding: 
    calc(10px + (24 - 10) * ((100vw - 1200px) / (3840 - 1200)))
    calc(35px + (370 - 35) * ((100vw - 1200px) / (3840 - 1200)))
    ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    backdrop-filter: blur(10px);
    @media screen and (max-width: 1024px){   
        padding: 
        calc(8px + (16 - 8) * ((100vw - 300px) / (1200 - 300)))
        calc(10px + (20 - 10) * ((100vw - 300px) / (1200 - 300)))
        ;     
    }

    .brand{        
        line-height: 0px;
        img{
            width: calc(114px + (300 - 114) * ((100vw - 1200px) / (3840 - 1200)));
            height: auto;
            @media screen and (max-width: 1024px){  
                width: calc(85px + (185 - 85) * ((100vw - 300px) / (1200 - 300)));       
            }
        }        
    }

   .menu_btn{
        @include btn-ver-mas;
        background-color: transparent;
        border-color: $green-2;  
        @media screen and (max-width: 1024px){  
            border-color: $green-2;
        }
        @media screen and (min-width: 1024px){
            &:hover{
                background-color: $green-2;
                border-color: $green-2;
                color: $deep-blue;
            }
            &:active{
                filter: brightness(90%);
                transform: scale(0.96);
            }
        } 
    }    
}