@import "../../../styles/themeStyles.module.scss";

.cta{
    .button{
        @include btn-ver-mas;        
        background-image: url(../../../public/assets/icons/download_icon.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: auto 40%;
        background-position: calc((14px + 26 * (100vw - 1200px) / 2640) * 1) center;
        padding-left:  calc((14px + 26 * (100vw - 1200px) / 2640) * 2.5);
        background-size: auto 50%;
        &:hover{
            background-image: url(../../../public/assets/icons/download_white_icon.svg);            
        }
        @media screen and (max-width: 1024px)
        {
            background-position: calc((14px + 26 * (100vw - 1200px) / 2640) * 2) center;
            padding-left:  calc((14px + 26 * (100vw - 1200px) / 2640) * 5);
        }
    }
}