@import "../../../styles/themeStyles.module.scss";

.quotes_container{
    position: relative;
    margin-bottom: calc(85px + (290 - 85) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        margin-bottom: calc(50px + (150 - 50) * ((100vw - 300px) / (1024 - 300)));
    }
    
    .card{
        width: 100vw;
        .wrapper{
            @include container-width-1;
            height: calc(253px + (696 - 253) * ((100vw - 1200px) / (3840 - 1200)));         
            display: grid;
            grid-template-areas: 'img text';
            grid-template-columns: 25% 75%;
            @media screen and (max-width: 1024px){
                grid-template-areas: 'text' 'img';
                grid-template-columns: 100% 100%;
                height: auto;
            }

            .img_cont{
                grid-area: img;  
                img{
                    width: 100%;
                    height: auto;
                    @media screen and (max-width: 1024px){
                        width: calc(120px + (400 - 120) * ((100vw - 300px) / (1024 - 300)));
                    }
                }
            }

            .text_cont{
                grid-area: text;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: calc(40px + (100 - 40) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    padding-left: 0;
                    height: calc(195px + (620 - 195) * ((100vw - 300px) / (1024 - 300)));
                    margin-bottom: calc(15px + (35 - 15) * ((100vw - 300px) / (1024 - 300)));
                }

                h4{
                    @include font-level-2; 
                    font-weight: 400;
                    line-height: 130%;
                    color: $deep-blue;
                    margin-bottom: calc(40px + (100 - 40) * ((100vw - 1200px) / (3840 - 1200)));
                }

                p{
                    @include font-level-4; 
                    font-weight: 400;
                    line-height: 140%;
                    color: $gray-1;            
                    strong{
                        font-weight: 600;
                        color: $deep-blue; 
                    }
                }
            }
        }
    }

    .line{
        position: absolute;
        @include container-width-1;    
        left: 0;
        right: 0;
        bottom: calc(50px + (140 - 50) * ((100vw - 1200px) / (3840 - 1200)));
        border-bottom: $line-1 solid $gray-5;
        @media screen and (max-width: 1024px){
            display: none;
        }
    }
}