@import "../styles/themeStyles.module.scss";

// Normalize
*
{
    margin: 0;
    box-sizing: border-box;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html, body, #__next {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif; 
    overscroll-behavior-y: none;
    overflow: hidden;  
    @media screen and (max-width: 1024px){
      width: 100%;
      overflow: visible; 
      overscroll-behavior-y: auto;
      padding-top: calc(35px + (80 - 35) * ((100vw - 300px) / (1024 - 300)));
    }
}

button{
    background-color: transparent;
    outline: inherit;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#navbar-root{
  position: absolute;  
  z-index: 2100;
}

#modal-root{
  position: absolute;  
  left: 0;
  right: 0;
  z-index: 2200;
  @media screen and (max-width: 1024px){
    position: fixed;  
    top: 0;
  }
}

#scroll-container{
  overflow: hidden!important;  
}

// Custom Scrollbar

[data-scrollbar] {
  min-width: 100vw;
  height: 100vh;
  padding-top: calc(150px + (400 - 150) * ((100vw - 1200px) / (3840 - 1200)));
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: .6s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.scrollbar-track{
  background: rgba(255, 255, 255, 0)!important;
  z-index: 2000!important;  
  
  .scrollbar-thumb{
    background: #02172d!important;
    border-radius: 0!important;          
  }
}


//cursor follow ball

.cursor_leer, .cursor_ver, .cursor_deslizar, .cursor_dot, .cursor_conocer{
  position: fixed;
  transform: scale(0);
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 4000;
  opacity: .95;
  @media screen and (max-width: 480px){
      display: none;
  }
  
  .circle{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $yellow-2;
      border-radius: 50%;
      width: calc(95px + (200 - 95) * ((100vw - 1200px) / (3840 - 1200)));
      height: calc(95px + (200 - 95) * ((100vw - 1200px) / (3840 - 1200)));
      
      span{
          @include font-level-4;
          font-weight: 400;
          line-height: 100%;
          color: $deep-blue;          
      }
      
  }
}

.cursor_dot{
  .circle{
    background-color: $yellow-2;
    border-radius: 50%;
    width: calc(40px + (70 - 40) * ((100vw - 1200px) / (3840 - 1200)));
    height: calc(40px + (70 - 40) * ((100vw - 1200px) / (3840 - 1200)));
  }
}