@import "../../../styles/themeStyles.module.scss";

@mixin inner-width {
    width: calc(750px + (2100 - 750) * ((100vw - 1200px) / (3840 - 1200)));
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    height: 100vh;    

    .search_container{
        width: 100%;
        background-color: rgba(255,255,255,.8);
        backdrop-filter: blur(10px);
        .wrapper{
            @include container-width-1;  
            height: auto; 
            padding:
            calc(98px + (230 - 98) * ((100vw - 1200px) / (3840 - 1200)))
            0
            calc(30px + (120 - 30) * ((100vw - 1200px) / (3840 - 1200)))
            0;   
            @media screen and (max-width: 1024px){
                padding:
                calc(21px + (34 - 21) * ((100vw - 300px) / (1024 - 300))) 
                0
                calc(14px + (20 - 14) * ((100vw - 300px) / (1024 - 300))) 
                0;
            }

            .close_btn, .btn_filter{
                @include btn-ver-mas;
                @media screen and (max-width: 1024px){
                    margin-bottom: calc(30px + (60 - 30) * ((100vw - 300px) / (1024 - 300)));
                }
            }

            .close_btn{
                display: flex;
                margin-left: auto;
                @media screen and (max-width: 1024px){
                    margin-right: -5px;
                }
            }

            .search_bar{     
                display: block;           
                @include inner-width;
                background-color: transparent;
                background-image: url(../../../public/assets/icons/lupa_icon.svg);
                background-repeat: no-repeat;
                background-position: right center;
                background-size: calc(22px + (62 - 22) * ((100vw - 1200px) / (3840 - 1200))) auto;                 
                @include font-level-2;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                line-height: 100%; 
                color: $deep-blue;   
                border: none; 
                border-bottom: $line-1 solid $deep-blue;
                padding:
                calc(7px + (22 - 7) * ((100vw - 1200px) / (3840 - 1200)))
                calc(14px + (40 - 14) * ((100vw - 1200px) / (3840 - 1200)))
                calc(7px + (22 - 7) * ((100vw - 1200px) / (3840 - 1200)))
                0
                ;
                margin-bottom: calc(32px + (62 - 32) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    @include container-width-1;  
                    background-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1024 - 300))) auto; 
                    padding:
                    calc(7px + (22 - 7) * ((100vw - 300px) / (1024 - 300)))
                    calc(14px + (40 - 14) * ((100vw - 300px) / (1024 - 300)))
                    calc(7px + (22 - 7) * ((100vw - 300px) / (1024 - 300)))
                    0
                    ;
                    margin-bottom: calc(15px + (35 - 15) * ((100vw - 300px) / (1024 - 300)));
                }
                &::placeholder {                      
                    color: $gray-2;
                }
                &:focus {
                    outline: none;
                    &::placeholder {                      
                        color: transparent;
                    }
                }
            }

            .switch_filter{
                @include inner-width;
                margin-bottom: calc(54px + (136 - 54) * ((100vw - 1200px) / (3840 - 1200)));
                display: flex;
                @media screen and (max-width: 1024px){
                    @include container-width-1;  
                    margin-bottom: calc(35px + (80 - 35) * ((100vw - 300px) / (1024 - 300)));
                }
                .switch_btn{
                    @include font-level-4;
                    color: $deep-blue;
                    display: flex;     
                    opacity: .4; 
                    transition: all .1s;               
                    span{
                        display: flex;
                        align-items: center;
                        width: calc(7px + (10 - 7) * ((100vw - 1200px) / (3840 - 1200)));
                        height: auto;
                        margin-left: calc(6px + (10 - 6) * ((100vw - 1200px) / (3840 - 1200)));
                        transition: all .1s; 
                        @media screen and (max-width: 1024px){
                            width: calc(6px + (12 - 6) * ((100vw - 300px) / (1024 - 300)));
                        }
                    }
                    &:first-of-type{
                        margin-right: calc(32px + (62 - 32) * ((100vw - 1200px) / (3840 - 1200)));
                        @media screen and (max-width: 1024px){
                            margin-right: calc(16px + (46 - 16) * ((100vw - 300px) / (1024 - 300)));
                        }
                    }
                    &.active{
                        opacity: 1;
                        span{
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .filter_tags{
                @include inner-width;
                @media screen and (max-width: 1024px){
                    @include container-width-1;  
                }
                .btn_filter{
                    margin: 
                    0
                    calc(6px + (20 - 6) * ((100vw - 1200px) / (3840 - 1200)))
                    calc(8px + (24 - 8) * ((100vw - 1200px) / (3840 - 1200)))
                    0;
                    color: $gray-1;
                    @media screen and (max-width: 1024px){
                        margin: 
                        0
                        calc(4px + (10 - 4) * ((100vw - 300px) / (1024 - 300)))
                        calc(6px + (14 - 6) * ((100vw - 300px) / (1024 - 300)))
                        0;
                    }
                    @media screen and (min-width: 1024px){
                        &:hover{
                            background-color: $gray-6;
                            border-color: $gray-2;
                            color: $deep-blue;
                        }                
                    }
                    &.active{
                        background-color: $green-2;
                        border-color: $green-2;
                        color: $deep-blue;
                    }
                }
            }
        }
    }

    .overlay_close{
        background-color: rgba(3, 46, 89, .85);
        backdrop-filter: blur(6px);
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}