@import "../../../styles/themeStyles.module.scss";

@mixin inner-width {
    width: calc(750px + (2100 - 750) * ((100vw - 1200px) / (3840 - 1200)));
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    height: 100vh;    

    .search_container{
        position: fixed;
        z-index: 100;
        top: -100vh;
        width: 100%;
        background-color: rgba(255,255,255,1);
        animation-name: sliceDown;
        animation-duration: 0.8s;  
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        @media screen and (max-width: 1024px){
            height: 100vh;
            overflow: scroll;
        }

        .resultContent{ 
            position: absolute;
            top: calc(27px + (72 - 27) * ((100vw - 1200px) / (3840 - 1200)));
            right: calc(35px + (370 - 35) * ((100vw - 1200px) / (3840 - 1200)));

            .resultData{
                align-items: center;
                @include font-level-4;
                color: $deep-blue;
                padding-right: calc(20px + (72 - 27) * ((100vw - 1200px) / (3840 - 1200)));
                
                @media screen and (max-width: 520px){                            
                    @include font-level-5;
                }
            }                    
        }

        .close_btn{
            @include btn-ver-mas;           
            z-index: 1000;

            opacity: 0;
            animation-name: fadeIn;
            animation-delay: 0.7s;
            animation-duration: 0.6s;  
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;              
            @media screen and (min-width: 1025px){
                &:hover{
                    border: $line-1 solid $deep-blue;
                    background-color: $deep-blue;
                }
            }
            @media screen and (max-width: 1024px){
                top: calc(21px + (34 - 21) * ((100vw - 300px) / (1024 - 300)));
                right: calc(10px + (18 - 10) * ((100vw - 300px) / (1024 - 300)));
            } 
        }

        .wrapper{
            position: relative;
            @include container-width-1;  
            height: auto; 
            padding:
            calc(70px + (230 - 70) * ((100vw - 1200px) / (3840 - 1200)))
            0
            calc(35px + (100 - 35) * ((100vw - 1200px) / (3840 - 1200)))
            0;   
            opacity: 0;
            animation-name: fadeIn;
            animation-delay: 0.5s;
            animation-duration: 0.6s;  
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards; 
            @media screen and (max-width: 1024px){
                padding:
                calc(65px + (110 - 50) * ((100vw - 300px) / (1024 - 300))) 
                0
                calc(14px + (44 - 14) * ((100vw - 300px) / (1024 - 300))) 
                0;
            }      
            
            .search_cont{
                position: relative;
                @include inner-width;
                @media screen and (max-width: 1024px){
                    @include container-width-1;
                }
                .clear_btn{
                    position: absolute;
                    top: calc(10px + (30 - 10) * ((100vw - 1200px) / (3840 - 1200)));
                    right: 0;
                    @include font-level-4;
                    font-weight: 400;
                    background-color: $yellow-3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    padding:
                    calc(4px + (10 - 4) * ((100vw - 1200px) / (3840 - 1200)))
                    calc(8px + (20 - 8) * ((100vw - 1200px) / (3840 - 1200)))
                    ;
                    @media screen and (max-width: 1024px){
                        font-size: calc(9px + (24 - 9) * ((100vw - 300px) / (1024 - 300)));
                        top: calc(9px + (31 - 9) * ((100vw - 300px) / (1024 - 300)));
                        padding:
                        calc(2px + (5 - 2) * ((100vw - 300px) / (1024 - 300)))
                        calc(5px + (15 - 5) * ((100vw - 300px) / (1024 - 300)))
                        ;
                    }
                }
                .search_bar{     
                    display: block;   
                    width: 100%;      
                    background-color: transparent;
                    background-image: url(../../../public/assets/icons/lupa_icon.svg);
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: calc(22px + (62 - 22) * ((100vw - 1200px) / (3840 - 1200))) auto;                 
                    @include font-level-2;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    line-height: 100%; 
                    color: $deep-blue;   
                    border: none; 
                    border-bottom: $line-1 solid $deep-blue;
                    padding:
                    calc(7px + (22 - 7) * ((100vw - 1200px) / (3840 - 1200)))
                    0
                    calc(7px + (22 - 7) * ((100vw - 1200px) / (3840 - 1200)))
                    calc(32px + (92 - 32) * ((100vw - 1200px) / (3840 - 1200)))
                    ;
                    margin-bottom: calc(20px + (60 - 20) * ((100vw - 1200px) / (3840 - 1200)));
                    @media screen and (max-width: 1024px){
                        font-size: calc(17px + (45 - 17) * ((100vw - 300px) / (1024 - 300)));
                        background-size: calc(14px + (46 - 14) * ((100vw - 300px) / (1024 - 300))) auto; 
                        padding:
                        calc(7px + (22 - 7) * ((100vw - 300px) / (1024 - 300)))
                        0
                        calc(7px + (22 - 7) * ((100vw - 300px) / (1024 - 300)))
                        calc(20px + (70 - 20) * ((100vw - 300px) / (1024 - 300)))
                        ;
                        margin-bottom: calc(15px + (35 - 15) * ((100vw - 300px) / (1024 - 300)));
                    }
                    &::placeholder {                      
                        color: $gray-2;
                    }
                    &:focus {
                        outline: none;
                        &::placeholder {                      
                            color: transparent;
                        }
                    }
                }
            }

            .switch_filter{                
                @include inner-width;
                margin-bottom: calc(32px + (80 - 32) * ((100vw - 1200px) / (3840 - 1200)));
                display: flex;
                @media screen and (max-width: 1024px){
                    @include container-width-1;  
                    margin-bottom: calc(22px + (60 - 22) * ((100vw - 300px) / (1024 - 300)));
                }

                .switch_box{
                    position: relative;
                    height: calc(36px + (80 - 36) * ((100vw - 1200px) / (3840 - 1200)));
                    &:nth-child(1){
                        margin-right: calc(25px + (75 - 25) * ((100vw - 1200px) / (3840 - 1200)));
                        width: calc(140px + (335 - 140) * ((100vw - 1200px) / (3840 - 1200)));
                    }
                    &:nth-child(2){
                        width: calc(116px + (278 - 116) * ((100vw - 1200px) / (3840 - 1200)));
                    }
                    @media screen and (max-width: 1024px){
                        height: calc(31px + (67 - 31) * ((100vw - 300px) / (1024 - 300)));
                        &:nth-child(1){
                            margin-right: calc(15px + (45 - 15) * ((100vw - 300px) / (1024 - 300)));
                            width: calc(115px + (260 - 115) * ((100vw - 300px) / (1024 - 300)));
                        }
                        &:nth-child(2){
                            width: calc(96px + (215 - 96) * ((100vw - 300px) / (1024 - 300)));
                        }
                    }
                    .switch_btn{
                        position: absolute;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        @include font-level-4;
                        color: $deep-blue;
                        display: flex;     
                        opacity: .4; 
                        transition: all .1s;               
                        span{
                            display: flex;
                            align-items: center;
                            width: calc(7px + (15 - 7) * ((100vw - 1200px) / (3840 - 1200)));
                            height: auto;
                            margin-left: calc(6px + (10 - 6) * ((100vw - 1200px) / (3840 - 1200)));
                            transition: all .1s; 
                            @media screen and (max-width: 1024px){
                                width: calc(6px + (12 - 6) * ((100vw - 300px) / (1024 - 300)));
                            }
                        }
                        &.active{
                            opacity: 1;
                            span{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
                
                .clear_btn{
                    position: absolute;
                    top: 0;
                    right: calc(16px + (32 - 16) * ((100vw - 1200px) / (3840 - 1200)));
                    @include font-level-6;
                    font-weight: 400;
                    color: $deep-blue;
                    background-color: $yellow-3;
                    border-radius: 50px;
                    padding:
                    calc(2px + (4 - 2) * ((100vw - 1200px) / (3840 - 1200)))
                    calc(5px + (8 - 5) * ((100vw - 1200px) / (3840 - 1200)))
                    ;
                    @media screen and (max-width: 1024px){
                        right: calc(13px + (22 - 13) * ((100vw - 300px) / (1024 - 300)));
                        padding:
                        calc(2px + (4 - 2) * ((100vw - 300px) / (1024 - 300)))
                        calc(5px + (10 - 5) * ((100vw - 300px) / (1024 - 300)))
                        ;
                    }                                         
                }            
            }

            .filter_tags{
                @include inner-width;
                column-count: 3;
                @media screen and (max-width: 1024px){
                    @include container-width-1;  
                    column-count: 1;
                }
                .btn_filter{
                    display: block;
                    @include font-level-4;
                    font-weight: 400;
                    color: $gray-2;
                    margin-bottom: calc(8px + (20 - 8) * ((100vw - 1200px) / (3840 - 1200)));
                    color: $gray-2;
                    opacity: 0;
                    animation-name: fadeIn;
                    animation-duration: 0.3s;  
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards; 
                    &:before{
                        content: '';
                        display: inline-block;
                        width: calc(8px + (18 - 8) * ((100vw - 1200px) / (3840 - 1200)));
                        height: calc(8px + (18 - 8) * ((100vw - 1200px) / (3840 - 1200)));
                        border-radius: 50%;
                        border: $line-1 solid $gray-5;
                        margin-right: calc(5px + (15 - 5) * ((100vw - 1200px) / (3840 - 1200)));
                    }
                    @media screen and (max-width: 1024px){
                        margin-bottom: calc(8px + (16 - 8) * ((100vw - 300px) / (1024 - 300)));
                        &:before{
                            width: calc(6px + (16 - 6) * ((100vw - 300px) / (1024 - 300)));
                            height: calc(6px + (16 - 6) * ((100vw - 300px) / (1024 - 300)));
                            border-width: $line-1-mobile;
                            margin-right: calc(4px + (10 - 4) * ((100vw - 300px) / (1024 - 300)));
                        }
                    }
                    @media screen and (min-width: 1024px){
                        &:hover{
                            color: $deep-blue;  
                            &:before{
                                border-color: $gray-2;
                            }                          
                        }                
                    }
                    &.active{                        
                        color: $deep-blue;
                        &:before{
                            border-color: $green-2;
                            background-color: $green-2;
                        } 
                    }
                }
            }
        }
    }

    .overlay_close{
        background-color: rgba(33,35,36,.5);
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 0.4s;  
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        @media screen and (max-width: 1024px){
            display: none;
        }
    }

    &.animation_out{
        .search_container{
            top: 0;
            animation-name: sliceUp;
            animation-duration: 0.6s;  
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards; 
        }
        .overlay_close{
            opacity: 1;
            animation-name: fadeOut;
            animation-delay: 0.3s;
            animation-duration: 0.4s;  
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards; 
        }
    }
}

@keyframes sliceDown {
    0% {
        top: -100vh;
    }
    100% {
        top: 0;
    }
}

@keyframes sliceUp {
    0% {
        top: 0;
    }
    100% {
        top: -100vh;
    }
}

@keyframes sliceDownFadeIn {
    0% {
        opacity: 0;
        top: -50vh;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}