@import "../../../styles/themeStyles.module.scss";

.acordeon{
    width: calc(1128px + (3102 - 1128) * ((100vw - 1200px) / (3840 - 1200)));
    margin: 0 auto;  
    @media screen and (max-width: 1024px){
        @include container-width-1; 
    }

    .area{
            position: relative;
            cursor: pointer;
            overflow: hidden;
            height: auto;
            transition: all .3s;                  
            margin: 0 auto;                
            border-bottom: $line-1 solid $gray-5;
            @media screen and (max-width: 1024px){
                border-bottom: $line-1-mobile solid $gray-5;                     
            }
            &:first-of-type{
                border-top: $line-1 solid $gray-5;
                @media screen and (max-width: 1024px){
                    border-top: $line-1-mobile solid $gray-5;                       
                }
            }                    

            &.cerrar{
                transition: all .5s;
                .wrapper{
                    padding-bottom: calc(24px + (66 - 24) * ((100vw - 1200px) / (3840 - 1200)));
                    transition: all .3s;
                    @media screen and (max-width: 1024px){
                        padding-bottom: calc(18px + (72 - 18) * ((100vw - 300px) / (1024 - 300)));
                    }

                    .panel{    
                        transition: all .3s;

                        h3{
                            color: $deep-blue;
                            height: auto;
                            margin-bottom: calc(25px + (100 - 25) * ((100vw - 1200px) / (3840 - 1200)));
                            @media screen and (max-width: 1024px){
                                margin-bottom: calc(12px + (44 - 12) * ((100vw - 300px) / (1024 - 300)));
                            }
                        }
                        .js_link{
                            background-color: $green-2;
                        }
                    }
                }
            }

        .wrapper{
            @include container-width-1;   
            transition: all .3s;   
                    
            .panel{
                transition: all .3s;
                position: relative;
                &:hover{
                    transition: all .2s;

                    .js_link{
                        border: $line-1 solid $green-2;
                    }
                }    

                h3{
                    @include font-level-2;
                    font-weight: 400;
                    color: $deep-blue;                       
                    line-height: 120%;
                    height: auto;
                    margin: calc(24px + (66 - 24) * ((100vw - 1200px) / (3840 - 1200))) 0;
                    transition: all .5s;
                    @media screen and (max-width: 1024px){
                        margin: calc(14px + (54 - 14) * ((100vw - 300px) / (1024 - 300))) 0;
                        padding-right: calc(50px + (150 - 50) * ((100vw - 300px) / (1024 - 300)));
                    }
                }
                
                .js_link{
                    position: absolute;
                    color: $deep-blue;
                    font-weight: 400;
                    font-size: calc(16px + (40 - 16) * ((100vw - 1200px) / (3840 - 1200)));
                    width: calc(36px + (96 - 36) * ((100vw - 1200px) / (3840 - 1200)));
                    height: calc(36px + (96 - 36) * ((100vw - 1200px) / (3840 - 1200))); 
                    top: 0;
                    right: 4px;
                    border-radius: 50%;
                    padding: 0;
                    transform-origin: 50% 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    border: $line-1 solid transparent;                    
                    @media screen and (max-width: 1024px){
                        width: calc(30px + (60 - 30) * ((100vw - 300px) / (1024 - 300)));
                        height: calc(30px + (60 - 30) * ((100vw - 300px) / (1024 - 300))); 
                        font-size: calc(13px + (32 - 13) * ((100vw - 300px) / (1024 - 300)));
                        border: $line-1-mobile solid transparent;
                        top: calc(-4px + (14 - -4) * ((100vw - 300px) / (1024 - 300)));
                        right: 2px;
                    }
                    &:hover{
                        border: $line-1 solid $green-2;
                    }                                                
                }
            }
            
            .contenido{
                height: 0;
                cursor: text;
                padding: 0;
                p{                                                      
                    @include font-level-4;
                    line-height: 144%;
                    max-width: calc(550px + (1550 - 550) * ((100vw - 1200px) / (3840 - 1200)));
                    color: $deep-blue;
                    margin: 0;
                    margin-bottom:     calc(20px + (30 - 20) * ((100vw - 300px) / (1024 - 300))); 
                    @media screen and (max-width: 1024px){
                        line-height: 140%;
                        max-width: 100%;
                        padding-right: calc(50px + (150 - 50) * ((100vw - 300px) / (1024 - 300)));
                    }
                    strong{
                        font-weight: 700;
                    }
                    span{
                        color: $gray-2;
                    }                    
                }

                a{
                    color: $deep-blue;
                    strong{
                        font-weight: 400;
                    }
                    @media screen and (min-width: 1025px){
                        &:hover{
                            color: $green-1;
                        }
                    }
                }

                ul{
                    padding-left: calc(15px + (38 - 15) * ((100vw - 1200px) / (3840 - 1200)));    
                    @media screen and (max-width: 1024px){
                        padding-left: calc(12px + (28 - 12) * ((100vw - 300px) / (1024 - 300))); 
                    }   
                    li{
                        @include font-level-4;
                        color: $deep-blue;
                        font-weight: 400;
                        line-height: 144%;
                        margin-bottom: calc(24px + (56 - 24) * ((100vw - 1200px) / (3840 - 1200)));                
                        @media screen and (max-width: 1024px){
                            margin-bottom: calc(15px + (50 - 15) * ((100vw - 300px) / (1024 - 300))); 
                            line-height: 160%;
                        }
                    }
                } 

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}